---
import { Image } from "astro:assets";
import logo from '../../src/images/logo-white.svg';
import facebookIcon from '../../src/images/icon-facebook.svg';
import twitterIcon from '../../src/images/icon-twitter.svg';
import pinterestIcon from '../../src/images/icon-pinterest.svg';
import instagramIcon from '../../src/images/icon-instagram.svg';
---
<footer class="px-4 py-16 bg-veryDarkViolet">
  <div class="container max-w-6xl mx-auto flex flex-col items-center lg:flex-row lg:items-start lg:justify-between gap-10">
    <!-- logo -->
    <Image class="" src={logo} alt="shortly" />
    <!-- sub-menus container -->
    <!-- <div class="flex flex-col space-y-12 lg:space-y-0 lg:flex-row"> -->
    <div class="flex flex-col lg:flex-row items-center gap-12 lg:items-start lg:gap-20">
      <!-- features menu -->
      <div class="text-center lg:text-left">
        <h4 class="text-white mb-5">Features</h4>
        <ul class="flex flex-col gap-2 text-gray space-y-2">
          <li><a href="#" class="hover:text-cyan focus:text-cyan">Link Shortening</a></li>
          <li><a href="#" class="hover:text-cyan focus:text-cyan">Branded Links</a></li>
          <li><a href="#" class="hover:text-cyan focus:text-cyan">Analytics</a></li>
        </ul>
      </div>
      <!-- resources menu -->
      <div class="text-center lg:text-left">
        <h4 class="text-white mb-5">Resources</h4>
        <ul class="flex flex-col gap-2 text-gray space-y-2">
          <li><a href="#" class="hover:text-cyan focus:text-cyan" >Blog</a></li>
          <li><a href="#" class="hover:text-cyan focus:text-cyan" >Developers</a></li>
          <li><a href="#" class="hover:text-cyan focus:text-cyan" >Support</a></li>
        </ul>
      </div>
      <!-- company menu -->
      <div class="text-center lg:text-left">
        <h4 class="text-white mb-5">Company</h4>
        <ul class="flex flex-col gap-2 text-gray space-y-2">
          <li><a href="#" class="hover:text-cyan focus:text-cyan" >About</a></li>
          <li><a href="#" class="hover:text-cyan focus:text-cyan" >Our Team</a></li>
          <li><a href="#" class="hover:text-cyan focus:text-cyan" >Careers</a></li>
          <li><a href="#" class="hover:text-cyan focus:text-cyan" >Contact</a></li>
        </ul>
      </div>
      <!-- socials list menu -->
      <ul class="flex gap-5">
        <li>
          <a href="/">
            <Image alt="" src={facebookIcon} />
          </a>
        </li>
        <li>
          <a href="/">
            <Image class="" alt="" src={twitterIcon} />
          </a>
        </li>
        <li>
          <a href="/">
            <Image class="" alt="" src={pinterestIcon} />
          </a>
        </li>
        <li>
          <a href="/">
            <Image class="" alt="" src={instagramIcon} />
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
